@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400&display=swap');


:root{
    --clr-primary-color: #1F2937;
    --clr-accent-color: #10B981;
    --clr-primary-color-light: #abb0b6;
}
body{
    font-family: 'Merriweather Sans', sans-serif;
    padding: 0%;
    margin: auto;
    max-width: 85%;

}

.nav-container{
    background-color: var(--clr-primary-color) ;
    margin: auto;
    
    padding: 1.2rem;
    
}
.nav-container a{
    text-decoration: none;
}

.nav-container h2 {
    margin: 0%;
    color: var(--clr-accent-color);
    font-weight: bold;
    padding-top: 1.5rem;
    padding-left: 1rem;
}

.nav-list{
    list-style-type: none;
    margin: auto;
    text-align: right;
    
}

.nav-items{
    display: inline;
    padding: 0.5rem 2rem;

}



.nav-links{
    text-decoration: none;
    color: var(--clr-accent-color);
    
}

.active-link{
    color: white;
}

/*Hero Section*/

.hero{
    padding-top: 2rem;
    display: flex;
}

.hero img {

    
    max-width: 45%;
    padding: 1.5rem;
    flex: 1;

    
}
.hero-content{
    
    color: var(--clr-primary-color);
    text-align: left;
    font-size: 1.2rem;
    padding-left: 2.5rem;
    margin-top: 9rem;
    text-align: center;
}

.homepage-info-alt{
    margin-top: 2rem;
    background-color: var(--clr-primary-color);
    color: white;
    padding: 3rem;
    text-align: center;
    border-radius: 1rem;
}
.homepage-info-alt h2 {
    color: var(--clr-accent-color);
}
.homepage-info{
    padding: 3rem;
    text-align: center;
}

.homepage-info h2 {
    color: var(--clr-primary-color);
}

.homepage-info a {
    
    padding: 0.5rem;
    background-color: var(--clr-primary-color);
    border-radius: 1rem;
    text-decoration: none;
    color: var(--clr-accent-color);
}

.homepage-info-alt a {
    padding: 0.5rem;
    background-color: var(--clr-accent-color);
    border-radius: 1rem;
    text-decoration: none;
    color: var(--clr-primary-color);
}

.footer-section{
    background-color: var(--clr-primary-color);
    text-align: center;
    padding: 2rem;
    margin-top: 4rem;
}
.footer-section h3{
    color: white;
    padding-bottom: 1.5rem;
}
.footer-list{
    list-style-type: none;
    padding: 0;
    
}
.footer-links{
    display: inline;
    padding: 2rem;
}
.footer-links a {
    text-decoration: none;
    color: var(--clr-accent-color);
}

.footer-links img{
    height: 25px;
    width: 25px;
    color: var(--clr-accent-color);
}